extends ../layout

block content
    a(href='/bicicletas') Volver
    h1 Nueva Bicicleta
    form(action='/bicicletas/create' method='post')
        label(for='id') ID:
        input#id(type='tex' name='id')
        br
        label(for='color') Color:
        input#color(type='tex' name='color')
        br
        label(for='modelo') Modelo:
        input#modelo(type='tex' name='modelo')
        br
        label(for='lat') Latitud:
        input#lat(type='tex' name='lat')
        br
        label(for='lng') Longitud:
        input#lng(type='tex' name='lng')
        br
        br
        input.btn(type='submit' value='Guardar')
        